@import "normalize.css" ;

:root {
  --theme-noir-transparent: rgba(255,255,255,0.3);
  --theme-bleu-pale: rgba(151,219,246,1);
  --theme-bleu-fonce: rgba(63,155,191,1);
  --theme-vert: #B22222;
  --theme-blanc: white;
  --theme-noir: black;

  --theme-bordure-rondeur: 0.2rem;
}

html {
  font-family:'Serif', sans-serif;
  font-size:48px;
}

#liste-cadeau {
  list-style-type:none;
}

.liste-cadeau-item {
  color:var(--theme-vert);
  text-transform : capitalize;
  text-decoration:none;
  text-shadow: 3px 3px var(--theme-noir);
}

#liste-cadeau li {
  position:relative;
  display:block;
  margin-bottom:0.25rem;
  background-color:var(--theme-noir-transparent);
  border-radius:var(--theme-bordure-rondeur);
  padding:0.25rem;
  padding-left:1.50rem;
  box-shadow: 2px 2px var(--theme-noir);
}

#liste-cadeau li::before {
   text-align:center;
   color:var(--theme-noir);
   font-size:1.25rem;
   position:absolute;
   top:0.1rem;
   left:0.25rem;
   height:1rem;
   width:1rem;

   font-family:'Hello Christmas Icon', sans-serif;


}

fieldset {
  color:var(--theme-noir);
  border-color: var(--theme-noir);
  border-radius:var(--theme-bordure-rondeur);
}

input[type="text"],
textarea {
  display:block;
  width:100%;
  border:none;
  background-color:var(--theme-noir-transparent);
  border-radius:var(--theme-bordure-rondeur);
}

#page-chargement-application{
  position:relative;
  height:100vh;

  text-align:center;
  font-size:2rem;
  font-weight:normal;
  line-height:1.8rem;

  padding:10%;
  color:var(--theme-noir);
  text-shadow: 2px 2px var(--theme-noir);
  animation: pulse 1.5s infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    background-color:var(--theme-bleu-fonce);
  }
  100% {
    background-color:var(--theme-bleu-pale);
  }
}

.page {
  position:relative;
  background-color:var(--theme-blanc);
  padding:5%;
  min-height: 100vh;
  box-sizing: border-box;

  background-image:url(illustration/image-megumin.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:left bottom;
  background-attachment:fixed;
  background-size: 80%;
}


.page h1{
  text-align:center;
  font-size:2rem;
  font-weight:normal;
  line-height:1.8rem;
  color:var(--theme-vert);
  text-shadow: 2px 2px var(--theme-noir);

}

.page h2,
.page p {
  background-color:var(--theme-noir-transparent);
  border:0px transparent solid;
  border-radius:var(--theme-bordure-rondeur);
  padding:0.25rem;
}


.action{
  position:relative;
  display:block;
  text-decoration: none;
  font-family:sans-serif;
  background-color:#fd9f44;
  color:var(--theme-noir);
  border:0px transparent solid;
  border-radius:var(--theme-bordure-rondeur);
  padding:0.25rem;
  font-size:1rem;
  text-align:center;
  width:50%;
  margin:0 auto;
  box-sizing: border-box;
  margin-top:0.25rem;
  margin-bottom:0.25rem;
  box-shadow: 2px 2px var(--theme-noir);
}

.action:active {
  border:0px transparent solid;
}
